<section>
    <AreaExternaHeader :pagina="Contato"/>
    <div class="contato-wrapper">
        <div class="contato">
            <h1>Contato</h1>
            <h2>Departamento de Engenharia de Produção</h2>
            <p>Endereço: Sala DT-77/15, prédio da FT, bloco D - <br>
                UnB - Campus Universitário Darcy Ribeiro, Brasília - DF
            </p>
                <br>
            <div class="email">
                <p>Email: </p>
                <p id="email-puma">emaildopuma@unb.br</p>
            </div>
            <h2>Administrador da plataforma 1</h2>
            <p>180135937@unb.br</p>
            <h2>Professor responsavel 1</h2>
            <p>180135937@unb.br</p>
        </div>
    </div>
</section>