.corpo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 3% 10%;
    color: rgba(2, 16, 33, 0.8);
}

h1{
    color: #021021CC;
    padding: 0.5em 0em;
    font-size:2.5em;
}
  
p{
    color: #021021CC;
    font-size:1.5em;
}

.icons-parceiros{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.icon-parceiro{
    display: inline-block;
}

input[type=radio]{
    display:none;
}

input[type=radio] + label>img{
    display: inline;
    width: 15em;
    height: 6em;
    border-radius: 1em;
    margin: 1em 1em;
}

input[type=radio] + label>img:hover {
    cursor: pointer;
}

input[type=radio]:checked + label>img{
    box-shadow: 0em 0.2em #153763;
}
