<div class="main-content">
    <b-container fluid class="main-container">
        <ReturnButton></ReturnButton>

        <div class="cabecalho">
            <div class='main-title'>
                Ver Detalhes do Projeto
            </div>
            <div class="buttons-options" align-h="end">
                <div v-if="editable && disabled">
                    <button class="detalhes-button detalhes-button-acao" v-on:click="toggleEnableForm()">
                        Editar
                    </button>
                </div>
                <div v-if="!disabled">
                    <button class="detalhes-button detalhes-button-acao" v-on:click="handleSubmit()">
                        Salvar
                    </button>
                </div>
                <div v-if="!disabled">
                    <button class="detalhes-button detalhes-button-normal" v-on:click="handleCancelEdit()">
                        Cancelar
                    </button>
                </div>
                <div v-if="editable">
                    <button class="detalhes-button detalhes-button-excluir" v-on:click="handleDeleteProject()">
                        Excluir
                    </button>
                </div>
            </div>
        </div>

        <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="handleSubmit()">
            <div class="form m-0">
                <div class="form-col">
                    <ValidationProvider vid="name" rules="required" v-slot="{errors}" :bails="false"
                        name="campo">
                        <div role="group" class="group">
                            <label for="name" class="input-label">Título do Projeto</label>
                            <input id="name" type="text" maxlength="100" class="input-textfield"
                                v-model="form.name" :disabled="disabled"
                                placeholder="Crie um título que indique o objetivo do projeto"
                                v-bind:class="{ 'input-focus': !disabled && !errors.length , 'input-error': errors.length }">
                            <span class="input-error-span">{{ errors[0] }}</span>
                        </div>
                    </ValidationProvider>

                    <ValidationProvider vid="problem" rules="required|min:200" v-slot="{errors}" :bails="false"
                        name="campo">
                        <div role="group" class="group">
                            <label for="problem" class="input-label">Problema Enfrentado</label>
                            <textarea id="problem" :disabled="disabled" maxlength="1000" rows="6"
                                v-model="form.problem" class="input-textarea"
                                placeholder="Descreva o desafio enfrentado usando, no mínimo, 200 caracteres."
                                v-bind:class="{ 'input-focus': !disabled && !errors.length , 'input-error': errors.length }">
                            </textarea>
                            <span class="input-counter">({{form.problem.length}}/1000)</span>
                            <span class="input-error-span">{{ errors[0] }}</span>
                        </div>
                    </ValidationProvider>
  
                    <ValidationProvider vid="results" rules="required|min:40" v-slot="{errors}" :bails="false"
                        name="campo">
                        <div role="group" class="group">
                            <label for="results" class="input-label">Resultados Enfrentados</label>
                            <textarea id="results" rows="6" minlength="40" maxlength="1000"
                                v-model="form.expectedresult" :disabled="disabled" class="input-textarea"
                                placeholder="Descreva os resultados desejados"
                                v-bind:class="{ 'input-focus': !disabled && !errors.length , 'input-error': errors.length }">
                            </textarea>
                            <span class="input-counter">({{form.expectedresult.length}}/1000)</span>
                            <span class="input-error-span">{{ errors[0] }}</span>
                        </div>
                    </ValidationProvider>

                    <ValidationProvider vid="keywords" rules="required" v-slot="{errors}">
                        <div role="group" class="group">
                            <label for="keywords" class="input-label">Palavra-Chave</label>
                            <multiselect id="keywords" v-model="form.selectedKeywords" :options="keywords"
                                :disabled="disabled" :multiple="true" track-by="value" label="text"
                                :searchable="true" :showLabels="true" :max="3" :closeOnSelect="false"
                                tagPosition="bottom" selectLabel="" deselectLabel="" selectedLabel=""
                                placeholder="Pesquise ou selecione uma palavra-chave" class="input-multiselect"
                                :class="errors.length ? 'input-multiselect-error' : 'input-multiselect-focus'"
                                @input="handleChangeKeywords">
                                <template slot="option" slot-scope="scope">
                                    <div class="option__desc checkbox-label">
                                        <input class="mx-2" type="checkbox" :checked="isChecked(scope.option)"
                                            @focus.prevent :key="scope.option.value" />
                                        <span class="option__title">{{ scope.option.text }}</span>
                                    </div>
                                </template>
                                <span slot="maxElements">
                                    Máximo de 3 opções selecionadas. Remova ao menos uma palavra-chave.
                                </span>
                                <span slot="noResult">
                                    Nenhuma palavra-chave encontrada.
                                </span>
                            </multiselect>
                            <span class="input-error-span">
                                {{ errors[0] && 'Escolha no mínimo uma palavra-chave'}}
                            </span>
                        </div>
                    </ValidationProvider>

                    <ValidationProvider vid="main-keyword" rules="required" v-slot="{errors}">
                        <div role="group" class="group">
                            <label for="main-keyword" class="input-label">Palavra-Chave Principal</label>
                            <multiselect id="mainKeyword" v-model="form.mainKeyword" :disabled="disabled"
                                :options="form.selectedKeywords" :multiple="false" track-by="value" label="text"
                                :searchable="true" :showLabels="true" tagPosition="bottom" selectLabel=""
                                deselectLabel="" selectedLabel="" placeholder="Selecione uma palavra-chave"
                                class="input-multiselect"
                                :class="errors.length ? 'input-multiselect-error' : 'input-multiselect-focus'">
                                <span slot="noResult">
                                    Nenhuma palavra-chave encontrada.
                                </span>
                            </multiselect>
                            <span class="input-error-span">{{ errors[0] }}</span>
                        </div>
                    </ValidationProvider>
                            <div role="group" class="group">
                                <label for="feedback" class="input-label">FEEDBACK DA AVALIAÇÃO</label>
                                <textarea id="feedback" :disabled="true" v-model="form.feedback" rows="6"
                                    maxlength="1000" class="input-textarea">
                                </textarea>
                            </div>
                </div>
            </div>
        </ValidationObserver>
    </b-container>
</div>
