.hidden-scroll-bar {
    overflow-x: hidden;
}

thead{
    font-size: 25px;
    color: #15355e;
}

table {
    width: 100%;
    max-width: 1500px;
    border-spacing: 25px;
    border-collapse: separate;
}

tr {
    border-top: hidden;
}

svg {
    cursor: pointer;
}

.cd-btn {
    background-color: white;
    color: #15355e;
    border-color: #15355e;
    padding: 10px 20px;
}

.search-input {
    height: 40px;
    padding-left: 30px;
}

.search-icon {
    cursor: auto;
    position: absolute;
    z-index: 3;
    margin-left: 10px;
    padding-top: 12px;
}

.table-div {
    display: inline-table;
}

.no-results {
    color: #15355e;
    margin-left: 30vw;
    font-size: 20px;
}

.add-project {
    margin-left: 0px !important;
}

.tittle {
    color: #15355E;
    font-weight: bold;
    font-size: 40px;
}

.sub-tittle {
    font-size: 20px !important;
    font-weight: normal !important;
}

header {
    justify-content: center !important;
}

.btn-confirm {
    background-color: #dc3545 !important;
}

.btn-cancel {
    border-color: #15355e !important;
    color: #15355e !important;
    background-color: white !important;
}

.modal-tittle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.separate_tables {
    border-top: 1px solid black;
    background-color: red;
}