.corpo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify;
    margin: 3% 15%;
    color: rgba(2, 16, 33, 0.8);
}

.descricao-titulo {
    left: -337px;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.02em;
    display: block;
    position: relative;
    height: 38px;
}

.descricao-conteudo {
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.p-sobre-ul {
    margin-top: 24px;
    list-style: inside;
    display: block;
    align-items: flex-start;
    position: relative;
    left: -337px;
    width: 891px;
    height: 324px;
}
.metodologia-titulo {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.02em;
    display: block;
    position: relative;
    height: 38px;
}

.metodologia-conteudo {
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.08em;
    position: relative;
    margin-top: 24px;
}

.colaboracao-titulo {
    left: -337px;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.02em;
    display: block;
    position: relative;
    height: 38px;
}

.colaboracao-conteudo {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.08em;
    left: -337px;
    margin-top: 24px;
    position: relative;
    width: 891px;
}

.mais-informacoes{
    position: relative;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.02em;
}

.p-sobre-li {
    margin: 0;
    word-wrap: break-word;
}

.p-sobre-lista {
    height: 50px;
    text-align: start;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-bottom: 2px solid #15355E;
}

h1 {
    height: 56px;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: rgba(2, 16, 33, 0.8);
    margin-bottom: 0.85em;
}

p {
    letter-spacing: 0.08em;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 3em;
}

.img-sobre {
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 0px rgba(21, 53, 94, 1);
    border-radius: 8px;
    width: 430px;
    height: 280px;
}

.img-sobre-oposta {
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: -10px 10px 0px rgba(21, 53, 94, 1);
    border-radius: 8px;
    width: 430px;
    height: 280px;
}