.corpo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 3% 10%;
    color: rgba(2, 16, 33, 0.8);
}

.descricao-titulo {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.02em;
    margin-bottom: 25px;
}

.descricao-conteudo {
    text-align: justify;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.p-sobre-ul {
    width: 100%;
    margin: 0;
    list-style: inside;
    display: block;
    align-items: flex-start;
}

.p-sobre-li {
    margin: 0px 0px 10px 0px;
    width: 100%;
}

.p-sobre-lista {
    padding: 10px 0px;
    text-align: start;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-bottom: 2px solid #15355E;
    cursor: pointer;
    margin: 40px 0px 15px;
}

.p-sobre-lista:hover {
    background-color: #D9D9D9;
    transition: 0.5s;
}

.div-mais-informacoes {
    margin-bottom: 100px;
}

.informacao-item {
    display: none;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin: 0px;
    color: rgba(2, 16, 33, 0.8);
}

.paragrafo-sobre {
    text-align: justify;
    letter-spacing: 0.08em;
    font-size: 24px;
    font-weight: 400;
    margin: 40px 0px 80px 0px;
}

.div-img-descricao {
    display: flex;
    margin-bottom: 80px;
}

.div-descricao {
    flex:1;
}

.img-sobre {
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 0px rgba(21, 53, 94, 1);
    border-radius: 8px;
    width: 100%;
    height: 280px;
}

.img-sobre-oposta {
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: -10px 10px 0px rgba(21, 53, 94, 1);
    border-radius: 8px;
    width: 100%;
    height: 280px;
}

.div-img-sobre {
    width: 40%;
    max-width: 430px;
    margin-right: 50px;
}

.div-img-sobre-oposta {
    width: 40%;
    max-width: 430px;
    margin-left: 50px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: right;
    margin-right: 10px;
  }

@media (max-width: 1000px) {
    .paragrafo-sobre {
        font-size: 18px;
        text-align: left;
    }

    .descricao-conteudo {
        text-align: left;
    }

    .div-img-sobre {
        width: 100%;
        max-width: none;
        margin: 0px 0px 40px 0px;
    }

    .div-img-descricao {
        flex-direction: column;
    }
    
    .img-secundaria {
        display: none;
    }
}