<div class="main-content">
  <b-container fluid>
    <ReturnButton></ReturnButton> 
    <b-row>
      <b-col cols="12">
        <div class='main-title'>
          Cadastrar Projeto
        </div>
      </b-col>
    </b-row>
    <div class="py-1" />
    <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="onSubmit()">
      <b-row class="form m-0 p-4">
        <b-col cols="6">
          <ValidationProvider rules="required|min:200" v-slot="v" :bails="false" name="problema enfrentado">
            <div role="group">
              <label for="descricao" class="input-label">PROBLEMA ENFRENTADO</label>
              <textarea id="descricao" placeholder="Descreva o desafio enfrentado usando, no mínimo, 200 caracteres."
                maxlength="1000" rows="7" v-model="descricao" class="input-textarea"
                v-bind:class="{ 'input-focus': !v.errors.length , 'input-error': v.errors.length }">
                  </textarea>
              <span class="input-counter">({{descricao.length}}/1000)</span>
              <span class="input-error-span" v-for="erro in v.errors">
                {{ erro }}
              </span>
            </div>
          </ValidationProvider>
          <div class="py-2" />
          <ValidationProvider rules="required" v-slot="v" :bails="false" name="resultado desejado">
            <div role="group">
              <label for="resultado" class="input-label">RESULTADOS DESEJADOS</label>
              <textarea id="resultado" placeholder="Descreva os resultados desejados" rows="5" minlength="40"
                maxlength="1000" v-model="resultadoEsperado" class="input-textarea"
                v-bind:class="{ 'input-focus': !v.errors.length , 'input-error': v.errors.length }"></textarea>
              <span class="input-counter">({{resultadoEsperado.length}}/1000)</span>
              <span class="input-error-span" v-for="erro in v.errors">
                {{ erro }}
              </span>
            </div>
          </ValidationProvider>
          <div class="py-2" />
          <ValidationProvider rules="required" v-slot="v" :bails="false" name="título">
            <div role="group">
              <label for="titulo" class="input-label">TÍTULO PARA O PROJETO</label>
              <div class="error-div">
                <input type="text" id="titulo" maxlength="100" class="input-textfield"
                  placeholder="Crie um título que indique o objetivo do projeto" v-model="titulo"
                  v-bind:class="{ 'input-focus': !v.errors.length , 'input-error': v.errors.length }">
                <span class="input-error-span" v-for="erro in v.errors">
                  {{ erro }}
                </span>
              </div>
              <div class="text-description">
                Opte por títulos que comecem com substantivos. Exemplo:
              </div>
              <div class="text-example">
                <em>Eliminação do despedício na produção de pães artesanais</em>
              </div>
            </div>
          </ValidationProvider>
        </b-col>
        <b-col cols="6">
          <ValidationProvider vid="keywords" rules="required" v-slot="{errors}">
            <div role="group">
              <label for="keywords" class="input-label">PALAVRAS-CHAVE</label>
              <multiselect id="keywords" v-model="selectedKeywords" :options="keywords" :multiple="true"
                track-by="value" label="text" :searchable="true" :showLabels="true" :max="3" :closeOnSelect="false"
                tagPosition="bottom" selectLabel="" deselectLabel="" selectedLabel=""
                placeholder="Pesquise ou selecione uma palavra-chave" class="input-multiselect"
                :class="errors.length ? 'input-multiselect-error' : 'input-multiselect-focus'"
                @input="handleChangeKeywords">
                <template slot="option" slot-scope="scope">
                  <div class="option__desc checkbox-label">
                    <input class="mx-2" type="checkbox" :checked="isChecked(scope.option)" @focus.prevent
                      :key="scope.option.value" />
                    <span class="option__title">{{ scope.option.text }}</span>
                  </div>
                </template>
                <span slot="maxElements">
                  Máximo de 3 opções selecionadas.
                </span>
                <span slot="noResult">
                  Nenhuma palavra-chave encontrada.
                </span>
              </multiselect>
              <span class="input-error-span">{{ errors[0] && 'Escolha no mínimo uma palavra-chave' }}</span>
            </div>
          </ValidationProvider>
          <div class="py-2" />
          <ValidationProvider vid="main-keyword" rules="required" v-slot="{errors}">
            <div role="group">
              <label for="mainKeyword" class="input-label">PALAVRA-CHAVE PRINCIPAL</label>
              <multiselect id="mainKeyword" v-model="mainKeyword" :options="selectedKeywords" :multiple="false"
                track-by="value" label="text" :searchable="true" :showLabels="true" tagPosition="bottom" selectLabel=""
                deselectLabel="" selectedLabel="" placeholder="Selecione uma palavra-chave" class="input-multiselect"
                :class="errors.length ? 'input-multiselect-error' : 'input-multiselect-focus'">
                <span slot="noResult">
                  Nenhuma palavra-chave encontrada.
                </span>
              </multiselect>
              <span class="input-error-span">{{ errors[0] }}</span>
            </div>
          </ValidationProvider>
          <div class="py-2" />
          <div class="btn-toolbar">
            <div>
              <b-row>
                <b-col>
                  <input :value="'Enviar'" type="submit" class="btn btn-warning" @click="onSubmit" />
                </b-col>
                <b-col>
                  <b-button class="btn btn-warning" @click="$router.push({path: '/meus-projetos'}).catch(() => {})">
                    CANCELAR
                  </b-button>
                </b-col>
              </b-row>
            </div>
          </div>
        </b-col>
      </b-row>
    </ValidationObserver>
  </b-container>
</div>
