<div class="h-100">
  <div class="div-visitor-nav">
    <VisitorNav :navs="navs" />
  </div>
  <div class="w-100 div-form">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col cols="3" class="h-100">
          <b-row align-h="start" align-v="end" class="h-100">
            <img src="../../../assets/logoRecuperacao.png" alt="Imagem decorativa da recuperação da senha"/>
          </b-row>
        </b-col>
        <b-col cols="6">
          <b-row align-h="center">
            <div style="width:725px;" class="form">
              <b-col class="title-box"> RECUPERAÇÃO DE SENHA </b-col>
              <b-col class="card">
                <div>
                  <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="enviarEmail()">
                    <form id="register-form" v-if="!successEmailReceived">
                      <ValidationProvider rules="required|email" v-slot="v" :bails="false">
                        <div class="title-slot">
                          E-mail
                        </div>
                        <div class="error-div">
                          <input v-bind:class="{ invalid: v.errors.length || emailNotfound}" v-model.trim="email"
                            @focus="disableError" type="text" id="email" class="input-field" placeholder="E-mail" />
                          <div class="error">
                            <span class="error-span" v-for="erro in v.errors">
                              {{ erro }}
                            </span>
                          </div>
                        </div>
                      </ValidationProvider>

                      <div class="error" v-if="emailNotfound">
                        <router-link to="/usuario/cadastro" class="error-span">
                          Email não cadastrado! Clique aqui para fazer o registro!
                        </router-link>
                      </div>

                      <input type="submit" class="submit-btn" value="Enviar" @click.prevent="enviarEmail()" form="register-form" />
                      <Loading class="loading" v-if='isLoading' />
                    </form>
                  </ValidationObserver>
                  <div v-if="successEmailReceived" class="text-success-email">
                    <span style="text-align: center;">
                      <div style="text-align: center;">E-mail <strong>ENVIADO</strong>, clique no link que enviamos!<br>
                      </div>
                      <div style="text-align: center;">Caso não o encontre, verifique na caixa de <strong>SPAM</strong>.
                      </div>
                    </span>
                  </div>
                </div>
              </b-col>
            </div>
          </b-row>
        </b-col>
        <b-col cols="3" />
      </b-row>
    </b-container>
  </div>
</div>
