<div class="root">
  <div class="div-visitor-nav">
    <VisitorNav :navs="navs" />
  </div>
  <div class="w-100 div-form">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col cols="3">
          <b-row align-h="end" align-v="end" class="h-100">
            <div id='moca_img_div'>
              <img class="image-page-cadastro" id='moca_img' src='../../../../assets/vetor-cadastro.svg' alt='PUMA'
                draggable="false" />
            </div>
          </b-row>
        </b-col>
        <b-col class="row-centro" cols="6">
          <b-row align-h="center">
            <div class="card">
              <div class="title-box">
                <b-row align-h="center">
                  Cadastro de Usuário
                </b-row>
              </div>
              <div class="border-card">
                <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="onSubmit()">
                  <form id="register-form">
                    <ValidationProvider rules="required|alpha_spaces" v-slot="v" :bails="false" name="nome" v-show="isFirstPage">
                      <label class="required">Nome</label>
                      <div class="error-div">
                        <input v-on:change="verificaPreenchimento()" v-model.trim="name" placeholder="Nome Completo" type="text" id="name" :class="v.classes"
                          class="input-field" />
                        <span class="error-span" for="name" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider rules="required|email" v-slot="v" :bails="false" name="email" v-show="isFirstPage">
                      <label class="required">E-mail</label>
                      <div class="error-div">
                        <input v-on:change="verificaPreenchimento()" v-model.trim="email" type="text" id="email" placeholder="E-mail" :class="v.classes"
                          class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider :rules="{required: true, min: 14, phoneNumber:true}" v-slot="v" :bails="false" mode="eager" name="telefone" v-show="isFirstPage">
                      <label class="required">Telefone</label>
                      <div class="error-div">
                        <input v-on:change="verificaPreenchimento()" v-mask=" phoneNumber.length <= 14 ? '(##) ####-####' : '(##) #####-####'"
                          v-model="phoneNumber" id="phoneNumber" placeholder="Telefone" :class="v.classes"
                          class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider :rules="{required: true, min: 6, regex: /(?=.*[a-zA-Z])(?=.*[0-9])/ }" v-slot="v" :bails="false" v-show="isFirstPage">
                      <label class="required">Senha</label>
                      <div class="error-div">
                        <div class="password-div" v-bind:class="{ invalid: v.errors.length }">
                          <input v-on:change="verificaPreenchimento()" :type="passwordTypeText ? 'text' : 'password'" v-model="password" id="senha"
                          placeholder="Mínimo 6 caracteres com letras e números" :class="v.classes" class="password-input" />
                          <div class="eye-option" @click="mostrarOcultarSenha('senha')">
                              <font-awesome-icon icon="fa-solid fa-eye" ></font-awesome-icon>
                          </div>
                        </div>
                        <span class="error-span">
                          {{ v.errors[0] }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider :rules="{required: true, confirmed: {target: password}}" v-slot="v"
                      :bails="false" v-show="isFirstPage">
                      <label class="required label-repeat-password">Repita sua senha</label>
                      <div class="error-div">
                        <div class="password-div" v-bind:class="{ invalid: v.errors.length }">
                          <input v-on:change="verificaPreenchimento()" :type="repeatPasswordTypeText ? 'text' : 'password'" v-model="repeatPassword"
                          name="repita sua senha" type="password" id="repeatPassword" placeholder="Repita sua senha"
                          :class="v.classes" class="password-input" />
                          <div class="eye-option" @click="mostrarOcultarSenha('repeatPassword')">
                              <font-awesome-icon icon="fa-solid fa-eye" ></font-awesome-icon>
                          </div>
                        </div>
                        
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider rules="required" v-slot="v" :bails="false" v-show="!isFirstPage">
                      <label class="required">Tipo de usuário</label>
                      <div class="error-div">
                        <select v-on:change="alterarTipoUsuario()" :class="v.classes" v-model="type" name="tipo"
                          id="tipo" class="input-field">
                          <option value="" selected class="disabled">
                            Selecione
                          </option>
                          <option value="Aluno">Aluno</option>
                          <option value="Professor">Professor</option>
                          <option value="Agente Externo">Agente Externo</option>
                        </select>
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="hasMatricula && !isFirstPage"
                      :rules="{required: hasMatricula, min: { length: type === 'Aluno' ? 10 : 7 }}" v-slot="v"
                      validate-on="blur" :bails="false" name="matrícula">
                      <label class="required">Matrícula</label>
                      <div class="error-div">
                        <input v-mask="type === 'Aluno' ? '##/#######' : '#######'" v-model="matricula"
                          :class="v.classes" id="matricula" placeholder="Digite sua matrícula" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isExternalAgent && !isFirstPage" :rules="{required: isExternalAgent}"
                      v-slot="v" :bails="false">
                      <label class="required">Tipo de Agente Externo</label>
                      <div class="error-div">
                        <select v-on:change="alterarTipoAgenteExterno()" v-model="externalAgentType" :class="v.classes"
                          class="input-field">
                          <option value="" class="disabled">
                            Selecione
                          </option>
                          <option value="Pessoa Fisica">Pessoa Física</option>
                          <option value="Pessoa Juridica">Pessoa Jurídica</option>
                        </select>
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isJuridical && !isFirstPage" :rules="{required: isJuridical}" v-slot="v"
                      :bails="false">
                      <label class="required">Noma da empresa</label>
                      <div class="error-div">
                        <input v-model.trim="companyName" :class="v.classes" name="nome da empresa" id="companyName"
                          type="name" placeholder="Digite o nome da empresa" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isJuridical && !isFirstPage"
                      :rules="{required: isJuridical, min : {length: 18}, cnpj: true}" v-slot="v" :bails="false">
                      <label class="required">CNPJ</label>
                      <div class="error-div">
                        <input v-mask="'##.###.###/####-##'" :class="v.classes" id="cnpj" v-model="cnpj"
                          placeholder="Digite o CNPJ da empresa" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isJuridical && !isFirstPage" :rules="{required: isJuridical}" v-slot="v"
                      :bails="false">
                      <label class="required">Razão social</label>
                      <div class="error-div">
                        <input v-model.trim="socialReason" :class="v.classes" type="name" id="socialReason"
                          placeholder="Digite a razão social da empresa" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isPhysical && !isFirstPage"
                      :rules="{required: isPhysical, min : {length: 14}, cpf: true}" v-slot="v" :bails="false">
                      <label class="required">CPF</label>
                      <div class="error-div">
                        <input v-mask="'###.###.###-##'" :class="v.classes" v-model="cpf" id="cpf"
                          placeholder="Digite seu CPF" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <span v-show="showMessage && isFirstPage" class="error-span">
                      Preencha Todos os Campos
                    </span>

                    <b-container class="div-troca-pagina" fluid v-show="isFirstPage">
                      <b-row>
                        <b-col />
                        <b-col cols="8">
                          <b-row align-h="center">
                            <font-awesome-icon icon="fa-solid fa-circle" size="2x" style="margin: 10px;">
                            </font-awesome-icon>
                            <font-awesome-icon style="margin: 10px;"
                              icon="fa-regular fa-circle" size="2x" class=""></font-awesome-icon>
                          </b-row>
                        </b-col>
                        <b-col>
                          <b-row align-h="center">
                            <em style="cursor: pointer" @click="changePage(1)">
                              <font-awesome-icon  icon="fa-solid fa-angle-right" size="2x" style="margin: 10px 0px;">
                              </font-awesome-icon>
                            </em>
                          </b-row>
                        </b-col>
                      </b-row>
                    </b-container>

                    <b-container fluid v-show="!isFirstPage" style="padding:10px;">
                      <b-row>
                        <b-col>
                          <b-row align-h="center">
                            <em style="cursor: pointer" @click="changePage(2)">
                              <font-awesome-icon icon="fa-solid fa-angle-left" size="2x" style="margin: 10px;">
                              </font-awesome-icon>
                            </em>
                          </b-row>
                        </b-col>
                        <b-col cols="8">
                          <b-row align-h="center">
                            <em>
                              <font-awesome-icon style="margin: 10px;"
                                icon="fa-regular fa-circle" size="2x" class=""></font-awesome-icon>
                            </em>
                            <font-awesome-icon icon="fa-solid fa-circle" size="2x" style="margin: 10px;">
                            </font-awesome-icon>
                          </b-row>
                        </b-col>
                        <b-col />
                      </b-row>
                    </b-container>

                    <input v-show="!isLoading && !isFirstPage" type="submit" class="submit-btn" value="Cadastrar" @click.prevent="onSubmit" form="register-form" />

                    <Loading class="loading" v-show='isLoading' />

                  </form>
                </ValidationObserver>
              </div>
            </div>
          </b-row>
        </b-col>
        <b-col cols="3" />
      </b-row>
    </b-container>
  </div>
</div>
