<div class="h-100">
  <b-container fluid class="h-100">
    <b-row style="height: 5%;" />
    <b-row style="height: 95%;">
      <b-col sm="3">
        <b-row align-h="center">
          <span class="logo-puma">PUMA</span>
        </b-row>
          <b-row style = "margin-top: 420px; margin-left: 40px;"sm="3" align-v="end">
            <img src="../../../assets/logoRecuperacao.png" />
          </b-row>
      </b-col>
      <b-col  sm="6">
        <b-row align-h="center">
          <div>
            <span class="title-page-home">HOME</span>
            <span class="title-page">></span>
            <span class="title-page-local">RECUPERAÇÃO SENHA</span>
          </div>
        </b-row>
        <b-row style="height: 10%;" />
        <b-row align-h="center" align-v="center">
          <div style="width:725px; margin-top: 160px;">
            <b-col class="title-box"> Recuperação de Senha </b-col>
            <b-col class="card">
              <div>
                <!--<form>
                  <b-form-row>
                    <b-form-group label="E-mail" class="col-md-12">
                      <b-form-input type="text" name = "E-mail" placeholder="E-mail" v-model="email"/>
                    </b-form-group>
                  </b-form-row>
                </form>-->
                <ValidationObserver v-if = "!successEmailReceived" ref="observer" v-slot="{invalid}" @submit.prevent="logar()">

                  <form id="register-form">
                    <ValidationProvider  rules="required|email" v-slot="v" :bails="false">
                      <div class="title-slot">
                        E-mail
                      </div>
                      <div class="error-div">
                        <input v-bind:class="{ invalid: v.errors.length }" v-model.trim="email" type="text" id="email"
                          class="input-field" placeholder="E-mail" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <div class="error" v-if='hasAuthError'>
                      <span class="error-span">
                        Email ou senha incorretos
                      </span>
                    </div>

                    <input type="submit" class="submit-btn" value="Enviar" @click.prevent="enviarEmail()"
                      form="register-form" />

                    <Loading class="loading" v-if='isLoading' />
                  </form>
                </ValidationObserver>
                <div v-if = "successEmailReceived" class = "text-success-email">
                  <spam style = "text-align: center;">
                    <div style = "text-align: center;">E-mail <strong>ENVIADO</strong>, clique no link que enviamos!<br></div>
                    <div style = "text-align: center;">Caso não o encontre, verifique no <strong>SPAM</strong></div>
                  </spam>
                </div>
                <div v-if = "successEmailReceived" style = "display: flex; justify-content: center;">
                  <input type="submit" class="submit-btn" value="OK" @click.prevent="ok()"
                  form="register-form" />
                </div>

              </div>
            </b-col>
          </div>
        </b-row>
      </b-col>
      
    </b-row>
  </b-container>
</div>