<div class="h-100">
  <div style="height: 10%;">
    <VisitorNav :navs="navs" />
  </div>
  <div class="w-100" style="height: 90%;">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col cols="3" class="h-100">
          <b-row align-h="start" align-v="end" class="h-100">
            <img src="../../../assets/logoRecuperacao.png" />
          </b-row>
        </b-col>
        <b-col cols="6">
          <b-row align-h="center">
            <div style="width:725px;" class="form">
              <b-col class="title-box"> RECUPERAÇÃO DE SENHA </b-col>
              <b-col class="card">
                <div>
                  <!--<form>
                    <b-form-row>
                      <b-form-group label="E-mail" class="col-md-12">
                        <b-form-input type="text" name = "E-mail" placeholder="E-mail" v-model="email"/>
                      </b-form-group>
                    </b-form-row>
                  </form>-->
                  <ValidationObserver v-if="!successEmailReceived" ref="observer" v-slot="{invalid}"
                    @submit.prevent="logar()">

                    <form id="register-form">
                      <ValidationProvider rules="required|email" v-slot="v" :bails="false">
                        <div class="title-slot">
                          E-mail
                        </div>
                        <div class="error-div">
                          <input v-bind:class="{ invalid: v.errors.length || emailNotfound}" v-model.trim="email"
                            @focus="disableError" type="text" id="email" class="input-field" placeholder="E-mail" />
                          <div class="error">
                            <span class="error-span" v-for="erro in v.errors">
                              {{ erro }}
                            </span>
                          </div>
                        </div>
                      </ValidationProvider>

                      <div class="error" v-if="emailNotfound">
                        <span class="error-span">
                          Email não cadastrado! Clique aqui para fazer o registro!
                        </span>
                      </div>

                      <input type="submit" class="submit-btn" value="Enviar" @click.prevent="enviarEmail()"
                        form="register-form" />
                      <Loading class="loading" v-if='isLoading' />
                    </form>
                  </ValidationObserver>
                  <div v-if="successEmailReceived" class="text-success-email">
                    <spam style="text-align: center;">
                      <div style="text-align: center;">E-mail <strong>ENVIADO</strong>, clique no link que enviamos!<br>
                      </div>
                      <div style="text-align: center;">Caso não o encontre, verifique no <strong>SPAM</strong></div>
                    </spam>
                  </div>
                  <div v-if="successEmailReceived" style="display: flex; justify-content: center;">
                    <input @focus="" type="submit" class="submit-btn" value="OK" @click.prevent="ok()"
                      form="register-form" />
                  </div>
                </div>
              </b-col>
            </div>
          </b-row>
        </b-col>
        <b-col cols="3" />
      </b-row>
    </b-container>
  </div>
</div>