<div class="h-100">
  <div style="height: 10%;">
    <VisitorNav :navs="navs" />
  </div>
  <div class="w-100" style="height: 90%;">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col cols="3" class="h-100">
          <b-row align-h="start" align-v="end" class="h-100">
            <img src="../../../assets/logoRecuperacao.png" />
          </b-row>
        </b-col>
        <b-col cols="6">
          <b-row align-h="center">
            <div style="width:725px;" class="form">
              <b-col class="title-box"> CRIAÇÃO DA NOVA SENHA </b-col>
              <b-col class="card">
                <div>
                  <ValidationObserver v-if="!passwordRedefined" ref="observer" v-slot="{invalid}" @submit.prevent="logar()">
                    <form id="register-form">
                      <ValidationProvider v-slot="v" :bails="false" name="e-mail">
                        <div class="title-slot">
                          E-mail
                        </div>
                        <div class="error-div">
                          <input v-bind:class="{ invalid: v.errors.length }" v-model.trim="email" type="text" id="email"
                            class="input-field" placeholder="E-mail" disabled />
                          <span class="error-span" v-for="erro in v.errors">
                            {{ erro }}
                          </span>
                        </div>
                      </ValidationProvider>

                      <ValidationProvider :rules="{ required, min: 6, regex: /(?=.*[a-zA-Z])(?=.*[0-9])/ }" v-slot="v" :bails="false" name="senha">
                        <div class="title-slot">
                          Nova Senha
                        </div>
                        <div class="error-div">
                          <input v-bind:class="{ invalid: v.errors.length }" v-model.trim="newPassword"
                            @input="verifyConfirmPassword" type="password" id="email" class="input-field"
                            placeholder="Nova senha" />
                          <div style="display: flex;">
                            <div class="error-span" v-for="erro in v.errors">
                              • {{ erro }}
                            </div>
                          </div>
                        </div>
                        <!--<div style = "text-align: center;">
                        Implementar o bootstrap nesse quadro de condições da senha
                        *Minimo 6 Caracteres      *Precisa ter letras e numeros
                      </div>-->
                      </ValidationProvider>

                      <ValidationProvider v-slot="v" :bails="false" name="senha">
                        <div class="title-slot">
                          Repita a Senha
                        </div>
                        <div class="error-div">
                          <input v-bind:class="{ invalid: isEqualsToNewPassword === false }"
                            @input="verifyConfirmPassword" v-model.trim="confirmNewPassword" type="password" id="email"
                            class="input-field" placeholder="Repita a nova senha" />
                          <span class="error-span" v-if="isEqualsToNewPassword === false">
                            Senhas não coincidem!
                          </span>

                        </div>
                      </ValidationProvider>


                      <input type="submit" class="submit-btn" value="Enviar" @click.prevent="updatePassword()"
                        form="register-form" />

                      <Loading class="loading" v-if='isLoading' />
                    </form>
                  </ValidationObserver>
                  <div style="text-align: center; color: #278830; font-size: 24px; display: flex; flex-direction: column;
                align-items: center; padding-top: 40px;" v-if="passwordRedefined" class="text-success-email">
                    <img src="../../../assets/verifica1.png" />
                    <span>
                      Senha criada com sucesso!
                    </span>
                    <input style="margin: 20px" type="submit" class="submit-btn" value="LOGIN"
                      @click.prevent="$router.push('/usuario/login')" form="register-form" />
                  </div>
                </div>
              </b-col>
            </div>
          </b-row>
        </b-col>
        <b-col cols="3" />
      </b-row>
    </b-container>
  </div>
</div>
