<div class="h-100">
  <div class="div-visitor-nav">
    <VisitorNav :navs="navs" />
  </div>
  <div class="w-100 div-form">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col cols="3" class="h-100">
          <b-row align-h="start" align-v="end" class="h-100">
            <img src="../../../assets/logoRecuperacao.png" alt="Imagem decorativa da recuperação da senha"/>
          </b-row>
        </b-col>
        <b-col cols="6">
          <b-row align-h="center">
            <div style="width:725px;" class="form">
              <b-col class="title-box"> CRIAÇÃO DA NOVA SENHA </b-col>
              <b-col class="card">
                <div>
                  <div v-if="!passwordRedefined" >
                    <form id="register-form">
                      
                      <ValidationObserver ref="observer" v-slot="{ invalid }">
                        <div style="display: flex; flex-direction: column;  align-items: center; margin-top: 20px;">
                          <b-form-group class="col-md-10" >
                            <template #label>
                              <span class="title-slot">Email</span>
                            </template>
                  
                              <b-form-input style="background-color: #f7f7f7;" disabled type="text" placeholder="E-mail" class="custom-input" id="email" v-model="email"/>
                          </b-form-group>
                          
                          <b-form-group class="col-md-10">
                            <template #label>
                              <span class="title-slot">Nova Senha</span>
                            </template>
                  
                            <validation-provider :rules="{ required: true, min: 6, regex: /(?=.*[a-zA-Z])(?=.*[0-9])/ }" v-slot="{ errors }" name="senha">
                              <b-form-input @input="verifyConfirmPassword" type="password" placeholder="Nova senha" v-bind:class="{ invalid: errors.length }" class="custom-input" id="newPassword" v-model="newPassword"/>
                              <span class="error">{{ errors[0] }}</span>
                            </validation-provider>
                          </b-form-group>
                  
                          <b-form-group class="col-md-10">
                            <template #label>
                              <span class="title-slot">Repita a senha</span>
                            </template>
                  
                            <validation-provider rules="required" v-slot="{ errors }">
                              <b-form-input @input="verifyConfirmPassword" type="password" placeholder="Nova senha" v-bind:class="{ invalid: errors.length || isEqualsToNewPassword === false }" class="custom-input" id="confirmNewPassword" v-model="confirmNewPassword"/>
                              <span class="error">{{ errors[0] }}</span>
                              <span class="error-span" v-if="isEqualsToNewPassword === false">
                                Senhas não coincidem!
                              </span>
                            </validation-provider>
                          </b-form-group>
                  
                        </div>
                      </ValidationObserver>


                      <input type="submit" class="submit-btn" value="Enviar" @click.prevent="updatePassword()"
                        form="register-form" />

                      <Loading class="loading" v-if='isLoading' />
                    </form>
                  </div>
                  <div style="text-align: center; color: #278830; font-size: 24px; display: flex; flex-direction: column;
                align-items: center; padding-top: 40px;" v-if="passwordRedefined" class="text-success-email">
                    <img src="../../../assets/verifica1.png" alt="Certificação da senha criada com sucesso"/>
                    <span>
                      Senha criada com sucesso!
                    </span>
                    <input style="margin: 20px" type="submit" class="submit-btn" value="LOGIN"
                      @click.prevent="$router.push('/usuario/login')" form="register-form" />
                  </div>
                </div>
              </b-col>
            </div>
          </b-row>
        </b-col>
        <b-col cols="3" />
      </b-row>
    </b-container>
  </div>
</div>
