.root {
  background-color: white;
  height: 100%;
}

.column {display: contents;}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-card {
  border: 2px solid rgba(21,53,94,1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  /*margin-top: 30px;*/
  max-height: 80%;
  margin: 20px;
  padding: 1px;
  width: 725px;
  /* transition: all 0.3s ease-out; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-box {
  font-size: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(21,53,94,1);
  padding: 10px;
  font-weight: bold;
  color: white;
}

#register-form {
  display: flex;
  flex-direction: column;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

.loading {
  font-size: 16px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.5s;
}

.submit-btn {
  align-items: center;
  background-color: #f7db36;
  color: #15355e;
  border: 2px solid #f7db36;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.5s;
  width: 196.7px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: transparent;
  color: #f5871f;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.clickable-text-left {
  font-size: 1.1em;
  margin-top: 20px;
  margin-left: 70px;
  text-align: left;
}

.clickable-text-center {
  font-size: 1.1em;
  margin-bottom: 20px;
  text-align: center;
}

.invalid {
  border: 1px solid #EB0600;
}

.error-span {
  display: flex;
  margin-top: 10px;
  text-align: left;
  flex-direction: column;
  margin-left: 70px;
  color: #EB0600;
}

label{
  color: rgba(21,53,94,1);
  text-align: left;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: -20px;
  font-weight: bold;
  float: left;
}

.error-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-input {
  /* width: 577px; */
  font-size: 1.1em;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 7px; 
  padding: 15px; 
}

.password-img {
  position: absolute;
  margin-top: -40px;
  margin-left: 605px;
  cursor: pointer;
}

#nav {
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
  color: white;
  align-items: center;
}

.nav-item {
  margin-left: 45px;
  margin-right: 20px;
}

label.required::after {
  content: "*";
  color: rgba(21,53,94,1);
  font-weight: bolder;
}
