/*.table-striped>tbody>tr:nth-child(odd)>td,*/
/*.table-striped>tbody>tr:nth-child(odd)>th {*/
/*    background-color: red;*/
/*}*/
.hidden-scroll-bar {
    overflow-x: hidden;
}


thead {
    font-size: 15px;
    color: #15355e;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

tr {
    border-top: hidden;
}

svg {
    cursor: pointer;
}

.cp-btn {
    background-color: white;
    color: #15355e;
    border-color: #15355e;
}

.search-input {
    height: 40px;
    padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .search-input{
        width: 85% !important;
        height: 80px;
    }
    .search-icon{
        margin-top: 18px;
    }
    thead {
        font-size: 20px;
        color: #15355e;
    }
    table {
        font-size: 14px;
        margin-top: 20px;
    }
}


.search-icon {
    cursor: auto;
    position: absolute;
    z-index: 3;
    margin-left: 10px;
    padding-top: 12px;
}

.table-div {
    display: inline-table;
}

.no-results {
    color: #15355e;
    margin-left: 30vw;
    font-size: 20px;
}

.add-project {
    margin-left: 0px !important;
}

.tittle {
    color: #15355E;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase
}

.sub-tittle {
    font-size: 20px !important;
    font-weight: normal !important;
}



