<div class="main-content hidden-scroll-bar">
  <div class="tittle ml-4">
    {{ operacao === 'meus-projetos' ? 'Meus projetos' : (operacao === 'projetos' ? 'Projetos' : 'Projetos das Disciplinas') }}
  </div>
  <div v-if="!isLoading && projects.length" class="tittle sub-tittle ml-4">
    {{ 'Projetos ' + (operacao === 'meus-projetos' ? 'cadastrados pelo usuário' : (operacao === 'projetos' ?
    'cadastrados na plataforma' : 'alocados para as disciplinas mininistradas pelo usuário')) }}
  </div>
  <div v-show="isLoading" style="margin-left: 38vw" class="mt-4">
    <i class="fa-solid fa-circle-notch fa-spin fa-3x"></i>
  </div>
  <mdbDatatable v-show="!isLoading" ref="table" borderless color="blue" :data="data" :pagination="false" />
  <div v-if="!isLoading && !projects.length" class="no-results align-content-center mt-3">
    Sem resultados disponíveis
  </div>
</div>
