<mdbDatatable ref="table" borderless color="blue" :data="data" :pagination="false" v-show="!isLoading"/>

<!--<div   @click="aux">-->
<!--  <b-row align-h="start">-->
<!--  </b-row>-->
<!--  <div >-->
<!--&lt;!&ndash;    <router-link :to="{ path: `projetos/visualizar/${projects[0].projectid}`}" >&ndash;&gt;-->
<!--&lt;!&ndash;      Consultar&ndash;&gt;-->
<!--&lt;!&ndash;    </router-link>&ndash;&gt;-->
<!--  </div>-->
<!--&lt;!&ndash;  <div id="22">&ndash;&gt;-->
<!--&lt;!&ndash;    <font-awesome-icon icon="fa-solid fa-circle"></font-awesome-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->


