.btn-return {
    display: flex;
    align-items: center;
    color: #15355e;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}
.btn-return:hover {
    color: #6E97CC !important;
}

span {
    margin-left: 20px;
}

@media screen and (max-width: 800px) {
    .btn-return {
        font-size: 20px !important;
        margin: 10px 0px;
    }
}