* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}

.v3_487 {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v298_16 {
    width: 184px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 86px;
    left: 108px;
    font-family: Raleway;
    font-weight: SemiBold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}
.v298_17 {
    width: 274px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 755px;
    overflow: hidden;
}
.v298_18 {
    width: 71px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 3px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v298_19 {
    width: 130px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 0px;
    left: 144px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v298_20 {
    width: 13px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 2px;
    left: 101px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v298_22 {
    width: 602px;
    height: 535px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 545px;
    left: 247px;
    overflow: hidden;
}
.v298_23 {
    width: 44px;
    height: 144px;
    background: rgba(255,243,177,1);
    opacity: 1;
    position: absolute;
    top: 148px;
    left: 381px;
}
.v298_24 {
    width: 20px;
    height: 54px;
    background: rgba(255,243,177,1);
    opacity: 1;
    position: absolute;
    top: 466px;
    left: 430px;
}
.v298_25 {
    width: 45px;
    height: 18px;
    background: rgba(1,15,32,1);
    opacity: 1;
    position: absolute;
    top: 516px;
    left: 409px;
}
.v298_26 {
    width: 30px;
    height: 55px;
    background: rgba(255,243,177,1);
    opacity: 1;
    position: absolute;
    top: 460px;
    left: 527px;
}
.v298_27 {
    width: 44px;
    height: 26px;
    background: rgba(1,15,32,1);
    opacity: 1;
    position: absolute;
    top: 508px;
    left: 519px;
}
.v298_28 {
    width: 88px;
    height: 84px;
    background: rgba(1,15,32,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 409px;
}
.v298_29 {
    width: 149px;
    height: 259px;
    background: rgba(21,53,94,1);
    opacity: 1;
    position: absolute;
    top: 234px;
    left: 404px;
}
.v298_30 {
    width: 56px;
    height: 56px;
    background: rgba(255,243,177,1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 424px;
}
.v298_31 {
    width: 113px;
    height: 160px;
    background: rgba(148,166,188,1);
    opacity: 1;
    position: absolute;
    top: 79px;
    left: 404px;
}
.v298_32 {
    width: 35px;
    height: 99px;
    background: rgba(148,166,188,1);
    opacity: 1;
    position: absolute;
    top: 109px;
    left: 394px;
}
.v298_33 {
    width: 60px;
    height: 35px;
    background: rgba(1,15,32,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 417px;
}
.v298_34 {
    width: 32px;
    height: 154px;
    background: rgba(255,243,177,1);
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 505px;
}
.v298_35 {
    width: 43px;
    height: 129px;
    background: rgba(148,166,188,1);
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 500px;
}
.v298_36 {
    width: 602px;
    height: 2px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 533px;
    left: 66px;
}
.v298_37 {
    width: 752px;
    height: 728px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 255px;
    left: 584px;
    overflow: hidden;
}
.v298_38 {
    width: 752px;
    height: 728px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v298_39 {
    width: 752px;
    height: 728px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v298_40 {
    width: 752px;
    height: 717px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 0px;
    overflow: hidden;
}
.v298_41 {
    width: 752px;
    height: 717px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(21,53,94,1);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}
.v298_42 {
    width: 752px;
    height: 57px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v298_43 {
    width: 752px;
    height: 57px;
    background: rgba(21,53,94,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}
.v298_44 {
    width: 600px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 0px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}
.v298_45 {
    width: 641px;
    height: 89px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 55px;
    overflow: hidden;
}
.v298_46 {
    width: 641px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
}
.v298_47 {
    width: 641px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(21,53,94,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v298_48 {
    width: 618px;
    color: rgba(148,166,188,1);
    position: absolute;
    top: 10px;
    left: 13px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v298_49 {
    width: 183px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v298_50 {
    width: 641px;
    height: 89px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 92px;
    left: 49px;
    overflow: hidden;
}
.v298_51 {
    width: 641px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
}
.v298_52 {
    width: 641px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(21,53,94,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v298_53 {
    width: 618px;
    color: rgba(148,166,188,1);
    position: absolute;
    top: 10px;
    left: 13px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v298_54 {
    width: 236px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v298_55 {
    width: 641px;
    height: 89px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 497px;
    left: 55px;
    overflow: hidden;
}
.v298_56 {
    width: 641px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
}
.v298_57 {
    width: 641px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(21,53,94,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v298_58 {
    width: 618px;
    color: rgba(148,166,188,1);
    position: absolute;
    top: 8px;
    left: 14px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v298_59 {
    width: 183px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v298_60 {
    width: 25px;
    height: 20px;
    background: rgba(21,53,94,1);
    opacity: 1;
    position: absolute;
    top: 57px;
    left: 588px;
}
.v298_61 {
    width: 641px;
    height: 137px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 334px;
    left: 55px;
    overflow: hidden;
}
.v298_62 {
    width: 641px;
    height: 137px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v298_63 {
    width: 641px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 1px;
    overflow: hidden;
}
.v298_64 {
    width: 641px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(21,53,94,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v298_65 {
    width: 618px;
    color: rgba(148,166,188,1);
    position: absolute;
    top: 10px;
    left: 14px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v298_66 {
    width: 144px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v298_67 {
    width: 641px;
    height: 48px;
    background: rgba(242,242,242,1);
    opacity: 1;
    position: absolute;
    top: 89px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v298_68 {
    width: 191px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 94px;
    left: 0px;
    overflow: hidden;
}
.v298_69 {
    width: 191px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v298_70 {
    width: 251px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 97px;
    left: 222px;
    overflow: hidden;
}
.v298_71 {
    width: 251px;
    color: rgba(21,53,94,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v298_72 {
    width: 25px;
    height: 20px;
    background: rgba(21,53,94,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 588px;
}
.v298_73 {
    width: 391px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 638px;
    left: 304px;
    overflow: hidden;
}
.v298_74 {
    width: 142px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v298_75 {
    width: 51px;
    height: 51px;
    background: rgba(21,53,94,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}
.v298_76 {
    width: 51px;
    height: 51px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 91px;
    border-radius: 50%;
}
.v298_77 {
    width: 32px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 359px;
    overflow: hidden;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
