<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link href="nova-interface.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
<div class="v305_276">
  <span class="v305_277">PUMA</span>
  <div class="v305_278">
    <span class="v305_279">HOME</span><span class="v305_280">CADASTRO</span><span class="v305_281">></span>
    <div class="name"></div>
  </div>
  <div class="v305_283">
    <div class="v305_284"></div>
    <div class="v305_285"></div>
    <div class="v305_286"></div>
    <div class="v305_287"></div>
    <div class="v305_288"></div>
    <div class="v305_289"></div>
    <div class="v305_290"></div>
    <div class="v305_291"></div>
    <div class="v305_292"></div>
    <div class="v305_293"></div>
    <div class="v305_294"></div>
    <div class="v305_295"></div>
    <div class="v305_296"></div>
    <div class="v305_297"></div>
  </div>
  <div class="v305_298">
    <div class="v305_299">
      <div class="v305_300">
        <div class="v305_301">
          <div class="v305_302"></div>
        </div>
        <div class="v305_303">
          <div class="v305_304"></div>
          <span class="v305_305">Cadastro de usuário</span>
        </div>
      </div>
      <div class="v305_348"></div>
    </div>
    <div class="v305_353">
      <span class="v305_350">Campo obrigatório</span>
      <div class="v305_306">
        <div class="v305_307">
          <div class="v305_308"></div>
          <span class="v305_309">E-mail</span>
        </div>
        <span class="v305_310">E-mail</span>
      </div>
    </div>
    <div class="v305_311">
      <div class="v305_312">
        <div class="v305_313"></div>
        <span class="v305_314">Nome Sobrenome</span><span class="v305_349">Campo obrigatório</span>
      </div>
      <span class="v305_315">Nome e sobrenome</span>
    </div>
    <div class="v305_316">
      <div class="v305_317">
        <div class="v305_318"></div>
        <span class="v305_319">Repita a senha</span>
      </div>
      <span class="v305_320">Repita a senha</span>
    </div>
    <div class="v305_322">
      <div class="v305_323">
        <div class="v305_324">
          <div class="v305_325"></div>
          <span class="v305_326">Mínimo 6 caracteres com letras e números</span>
        </div>
        <span class="v305_327">Senha</span>
        <div class="v305_328"></div>
        <div class="v305_329"><span class="v305_330">Mínimo 6 caracteres </span></div>
        <div class="v305_331"><span class="v305_332">Precisa ter letras e números</span></div>
        <div class="v305_347"></div>
      </div>
    </div>
    <div class="v305_334">
      <div class="v305_335">
        <div class="v305_336"></div>
        <div class="v305_337"></div>
      </div>
      <div class="v305_338">
        <div class="name"></div>
        <div class="name"></div>
      </div>
    </div>
  </div>
  <span class="v305_352">Campo obrigatório</span>
  <div class="v305_343"></div>
  <div class="v305_344"></div>
  <div class="v305_345"></div>
  <div class="v305_346"></div>
</div>
</body>
</html>
