<section>
    <AreaExternaHeader/>

    <div class="corpo">
        <h1>Submissão do Projeto</h1>

        <p class="paragrafo-submissao">
            Você é um empresário ou faz parte de uma organização e deseja solucionar um problema vivenciado em sua empresa? Submeta já o seu projeto na PUMA. Para que ele seja aceito após a abertura do edital, é necessário que ele contenha algumas informações, descritas abaixo. [texto a ser melhorado]
        </p>

        <div class="div-necessario">
            <h3 class="necessario-titulo">Para submeter seu projeto, é necessário:</h3>
            <ul class="descricao-necessario p-submissao-ul">
                <li class="p-submissao-li">Ser um empresário ou representar uma empresa e vivenciar um problema empresarial; ou</li>
                <li class="p-submissao-li">[inserir a possibilidade de submissão de projeto por CPF - texto a ser inserido];</li>
            </ul>
        </div>

        <div class="div-informacao">
            <h3 class="informacao-titulo">Quais informações meu projeto deverá possuir?</h3>
            <ul class="descricao-informacao p-informacao-ul">
                <p class="p-informacao">Para que seu projeto seja escolhido, ele deverá conter algumas informações:</p>
                <li class="p-informacao-li">Descrição do desafio enfrentrado, ou seja, o problema vivenciado em sua empresa;</li>
                <li class="p-informacao-li">Resultados desejados, ou seja, o que você ou sua empresa espera que o projeto alcance quando concluído;</li>
                <li class="p-informacao-li">Palavras-chave, relacionadas a Engenharia de Produção, a serem selecionadas durante o formulário de submissão;</li>
                <li class="p-informacao-li">Título, que deverá resumir o projeto em poucas palavras;</li>
            </ul>
        </div>

        <div class="div-como">
            <h3 class="como-titulo">Como posso submeter o meu projeto?</h3>
            <ul class="descricao-como p-como-ul">
                <p class ="p-como">Para submeter seu projeto, você deve possuir uma conta na PUMA. Clique no botão abaixo para registrar-se ou fazer login.</p>
            </ul>
        </div>

        <div class="div-acessar">
            <button class="button-acessar" onclick="window.location='/login'">Acessar a Plataforma</button>
        </div>
        
    </div>
</section>
