
.title {
    color: #15355E;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase
}

.sub-title {
    font-size: 20px !important;
    font-weight: normal !important;
}

.user {
    float: right;
}