<transition name='modal'>
  <div class='modal-mask'>
    <div class='modal-wrapper'>
      <div v-if='!isChooseSubject' class='modal-container'>
        <div class='close-x' v-on:click='$emit("close")'>X</div>
        <p>Essa proposta se encaixa na disciplina?</p>

        <div class='modal-footer row'>
          <slot name='footer'>
            <input
              type='submit'
              class='submit-btn no-button'
              value='Não'
              v-on:click='sla()'
            />

            <input
              type='submit'
              class='submit-btn yes-button'
              value='Sim'
              v-on:click='approveHandler'
            />
          </slot>
        </div>
      </div>

      <div v-if='isChooseSubject' class='modal-container choose-subject'>
        <div class='modal-header'>
          <div class='close-x' v-on:click='$emit("close")'>X</div>
          <p>Em qual disciplina essa proposta se encaixa?</p>
        </div>

        <select v-model='selected'>
          <option value='' selected disabled class='disabled'>
            Escolha uma disciplina
          </option>
          <option v-for='subject in subjectArray' v-bind:key='subject'
                  v-bind:value='subject'>
            {{subject.name}}
          </option>
        </select>

        <input
          type='submit'
          class='submit-btn submit-button'
          value='Submeter'
          v-on:click='submitHandlerNo(selected)'
        />
      </div>
    </div>
  </div>
</transition>
