<section>
    <AreaExternaHeader :pagina="paginaAtual"/>
    <div class="area-externa-section">
        <div class="titulo">
            <h1>Disciplinas de Projeto</h1>
        </div>
        <div class="text-container"></div>
            <div class="descricao">
                <p> Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição disciplina Descrição</p>
            </div>

        <ListaDisciplina :listaDisciplinas="listaDisciplinas"/>
    </div>
</section>
