<div class="h-100">
  <b-container fluid class="h-100">
    <b-row style="height: 5%;" />
    <b-row style="height: 95%;">
      <b-col sm="3">
        <b-row align-h="center">
          <span class="logo-puma">PUMA</span>
        </b-row>
          <b-row style = "margin-top: 420px; margin-left: 40px;"sm="3" align-v="end">
            <img src="../../../assets/logoRecuperacao.png" />
          </b-row>
      </b-col>
      <b-col sm="6">
        <b-row align-h="center">
          <div>
            <span class="title-page-home">HOME</span>
            <span class="title-page">></span>
            <span class="title-page-local">RECUPERAÇÃO SENHA</span>
          </div>
        </b-row>
        <b-row style="height: 10%;" />
        <b-row align-h="center" align-v="center">
          <div style="width:725px; margin-top: 130px; align-self: center;">
            <b-col class="title-box"> Criação da Nova Senha </b-col>
            <b-col class="card">
              <div>
                <ValidationObserver v-if = "!passwordRedefined" ref="observer" v-slot="{invalid}" @submit.prevent="logar()">
                  <form id="register-form">
                    <ValidationProvider rules="required|email" v-slot="v" :bails="false">
                      <div class="title-slot">
                        E-mail
                      </div>
                      <div class="error-div">
                        <input v-bind:class="{ invalid: v.errors.length }" v-model.trim="email" type="text" id="email"
                          class="input-field" placeholder="E-mail" disabled />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider rules="required|email" v-slot="v" :bails="false">
                      <div class="title-slot">
                        Nova Senha
                      </div>
                      <div class="error-div">
                        <input v-bind:class="{ invalid: v.errors.length }" v-model.trim="newPassword" type="password" id="email"
                          class="input-field" placeholder="Nova senha" />
                        <!--<span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>-->
                      </div>
                      <!--<div style = "text-align: center;">
                        Implementar o bootstrap nesse quadro de condições da senha
                        *Minimo 6 Caracteres      *Precisa ter letras e numeros
                      </div>-->
                    </ValidationProvider>

                    <ValidationProvider rules="required|email" v-slot="v" :bails="false">
                      <div class="title-slot">
                        Repita a Senha
                      </div>
                      <div class="error-div">
                        <input v-bind:class="{ invalid: v.errors.length }" v-model.trim="confirmNewPassword" type="password" id="email"
                          class="input-field" placeholder = "Repita a nova senha" />
                        <!--<span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>-->
                      </div>
                    </ValidationProvider>

                    <div class="error" v-if='hasAuthError'>
                      <span class="error-span">
                        Email ou senha incorretos
                      </span>
                    </div>

                    <input type="submit" class="submit-btn" value="Enviar" @click.prevent="logar()"
                      form="register-form" />

                    <Loading class="loading" v-if='isLoading' />
                  </form>
                </ValidationObserver>
                <div style = "text-align: center; color: #278830; font-size: 24px; display: flex; flex-direction: column; 
                align-items: center; padding-top: 40px;" v-if = "passwordRedefined" class = "text-success-email">
                  <img src="../../../assets/verifica1.png" />
                  <span>
                    Senha criada com sucesso!
                  </span>
                  <input style = "margin: 20px" type="submit" class="submit-btn" value="LOGIN" @click.prevent="$router.push('/usuario/login')"
                  form="register-form" />
                </div>
              </div>
            </b-col>
          </div>
        </b-row>
      </b-col>
      
    </b-row>
  </b-container>
</div>