.hidden-scroll-bar {
	overflow-x: hidden;
}

svg {
	cursor: pointer;
}

.sizes {
	padding: 5px;
	font-size: 18px;
}

.div-filter-and-button {
	margin-top: 23px;
}

.select {
	margin-right: 20px;
	cursor: pointer;
}

.search-input {
	height: 40px;
	padding-left: 20px;
	width: 300px;
	border-color: #15355E;
}

.keywords-table {
	margin-top: 30px;
	border-collapse: collapse;
}

.no-results {
	color: #15355e;
	margin-left: 30vw;
	font-size: 20px;
}

.add-project {
	margin-left: 0px !important;
}

.kw-title {
	color: #15355E;
	font-weight: bold;
	font-size: 40px;
}

.kw-sub-title {
	color: #15355E;
	font-size: 20px !important;
	font-weight: normal !important;
}

.close {
	font-size: 30px;
	padding-bottom: 5px;
}

.myclass > .modal-dialog > .modal-content > .modal-header {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #15355E !important;
	color: white;
	font-weight: bold;
	font-size: 28px;
	height: 50px;
}

.divFooter {
	margin: 25px 0 5px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.kw-btn {
	padding: 4px;
	font-size: 16px;
	background-color: white;
	color: #15355e;
	border-color: #15355e;
	font-weight: bold;
	width: 300px;
}

.kw-btn:hover {
	transition: 0.2s;
	color: #17519c;
	border-color: #17519c;
}

.kw-btn-confirm {
	align-items: center;
	background-color: #f7db36;
	border: 2px solid #f7db36;
	color: #15355e;
	border-radius: 5px;
	padding: 5px;
	font-size: 22px;
	font-weight: 700;
	transition: 0.1s;
	width: 196.7px;
	letter-spacing: 0.03em;
}

.kw-btn-confirm:hover {
	transition: 0.2s;
	color: #245ba3;
	filter: brightness(105%);
}

.kw-btn-confirm:focus {
	transition: 0.2s;
	color: #245ba3;
	filter: brightness(105%);
}

.kw-btn-confirm:active {
	transition: 0.2s;
	color: #245ba3;
	filter: brightness(105%);
}

.kw-btn-crud-cancel {
	align-items: center;
	border: 2px solid #f7db36;
	border-radius: 5px;
	padding: 5px;
	font-size: 22px;
	font-weight: 700;
	transition: 0.1s;
	width: 196.7px;
	letter-spacing: 0.03em;
	color: #15355e;
	background-color: white;
}

.kw-btn-crud-cancel:active {
	transition: 0.2s;
	color: #245ba3;
	filter: brightness(105%);
}

.kw-btn-crud-cancel:focus {
	transition: 0.2s;
	color: #245ba3;
	filter: brightness(105%);
}

.kw-btn-crud-cancel:hover {
	transition: 0.2s;
	color: #245ba3;
	filter: brightness(105%);
}

.kw-btn-delete {
	align-items: center;
	background-color: #EB0600;
	color: white;
	border: 2px solid #EB0600;
	border-radius: 5px;
	padding: 5px;
	font-size: 24px;
	font-weight: 700;
	transition: 0.1s;
	width: 196.7px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.kw-btn-delete:focus {
	color: white;
	background-color: #EB0600;
	border: 2px solid #EB0600;
}

.kw-btn-delete:active {
	color: white;
	background-color: #a30602;
	border: 2px solid #EB0600;
}

.d-invert {
	color: #EB0600;
	border: 2px solid #EB0600;
	background-color: white;
}

.d-invert:active {
	color: #EB0600;
	background-color: #fcfcfc;
}

.d-invert:focus {
	color: #EB0600;
	background-color: #fcfcfc;
}

.label-text {
	color: #15355E;
	font-weight: bold;
	font-size: 20px;
}

.custom-input {
	border: 2px solid #15355E;
	height: 42px;
}

.text-delete {
	text-align: center; 
	color: #15355e;
	font-size: 17px;
}

.kw-invalid {
	border: 2px solid #EB0600;
}

.kw-error {
	display: flex;
	text-align: left;
	flex-direction: column;
	font-weight: bold;
	color: #EB0600;
}

.cd-btn {
	background-color: white;
	color: #15355e;
	border-color: #15355e;
	padding: 10px 20px;
}

.cd-btn:hover {
	transition: 0.2s;
	color: #17519c;
	border-color: #17519c;
}

.mod-title {
	font-weight: bolder;
	color: #15355E;
}
