<div class="main-content hidden-scroll-bar">
  <div class="mx-4">
    <div class="kw-title">
      Palavras-Chave
    </div>
    <div class="kw-sub-title">
      PALAVRAS-CHAVE CADASTRADAS NA PLATAFORMA
    </div>
    <div class="div-filter-and-button">
      <b-form-select @input="filter" class="col-md-4 select" v-model="selected" :options="subjects"></b-form-select>
      <button class="kw-btn btn sizes mr-2" @click="addKeyword()">
        <i class="fa-solid fa-plus-circle ml-3 add-project"></i>
        ADICIONAR PALAVRA-CHAVE
      </button>
    </div>
    <div>
      <b-table class="keywords-table" :items="tableKeywordSubject" :fields="keyWordsFields">
        <template #cell(actions)="data">
          <div class="actions">
            <button class="btn cd-btn mx-2" @click="editKeyword(data.item)" v-if="allowEdit(data.item)">
              <font-awesome-icon icon="fas fa-edit" size="lg" />
              EDITAR
            </button>
            <button class="btn cd-btn mx-2" @click="deleteKeyword(data.item)" v-if="allowEdit(data.item)">
              <font-awesome-icon icon="fa-solid fa-trash" size="lg" />
              EXCLUIR
            </button>
          </div>
        </template>
      </b-table>
    </div>
  </div>

  <b-modal hide-footer v-model="openModalRegister" centered size="lg" modal-class="myclass">
    <template #modal-header>
      CRIAR NOVA PALAVRA-CHAVE
    </template>

    <ValidationObserver ref="observer" v-slot="{ invalid }">
      <div style="display: flex; flex-direction: column;  align-items: center;">

        <b-form-group class="col-md-9">
          <template #label>
            <span class="label-text">PALAVRA-CHAVE</span>
          </template>

          <validation-provider rules="required" v-slot="{ errors }">
            <b-form-input @input="keywordNameAlreadyExist" type="text" placeholder="Escreva aqui sua nova palavra-chave"
              v-bind:class="{ 'kw-invalid': errors.length }" class="custom-input" id="inputKeyword"
              v-model.trim="form.keywordName" />
            <span class="kw-error">{{ errors[0] }}</span>
            <span v-if="kwNameAlreadyExist" class="kw-error">Palavra-chave já existe, tente novamente.</span>
          </validation-provider>
        </b-form-group>

        <b-form-group class="col-md-9">
          <template #label>
            <span class="label-text">DISCIPLINA</span>
          </template>

          <validation-provider rules="required" v-slot="{ errors }">
            <b-select v-model="form.selectedSubject" :options="subjectsForm"
              v-bind:class="{ 'kw-invalid': errors.length }" class="custom-input" />
            <span class="kw-error">{{ errors[0] }}</span>
          </validation-provider>
        </b-form-group>

      </div>
    </ValidationObserver>

    <div class="divFooter">
      <button class="kw-btn-crud btn-warning" style="margin-right: 5%;" @click="handleAdd()">
        CRIAR
      </button>

      <button class="kw-btn-crud c-invert" @click="openModalRegister=false">
        CANCELAR
      </button>
    </div>
  </b-modal>

  <b-modal hide-footer v-model="openModalEdit" centered size="lg" modal-class="myclass">
    <template #modal-header>
      EDITAR PALAVRA-CHAVE
    </template>

    <ValidationObserver ref="observer" v-slot="{ invalid }">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <b-form-group class="col-md-9">
          <template #label>
            <span class="label-text">PALAVRA-CHAVE</span>
          </template>

          <validation-provider rules="required" v-slot="{ errors }">
            <b-form-input type="text" placeholder="Escreva aqui a palavra-chave" v-model="form.keywordName"
              v-bind:class="{ 'kw-invalid': errors.length }" class="custom-input" />
            <span class="kw-error">{{ errors[0] }}</span>
          </validation-provider>
        </b-form-group>

        <b-form-group class="col-md-9">
          <template #label>
            <span class="label-text">DISCIPLINA</span>
          </template>

          <validation-provider rules="required" v-slot="{ errors }">
            <b-select v-model="form.selectedSubject" :options="subjectsForm"
              v-bind:class="{ 'kw-invalid': errors.length }" class="custom-input" />
            <span class="kw-error">{{ errors[0] }}</span>
          </validation-provider>
        </b-form-group>
      </div>
    </ValidationObserver>

    <div class="divFooter">
      <button @click="handleEdit" class="kw-btn-crud btn-warning" style="margin-right: 5%;">
        EDITAR
      </button>
      <button class="kw-btn-crud c-invert" @click="openModalEdit=false">
        CANCELAR
      </button>
    </div>

  </b-modal>

  <b-modal hide-footer v-model="openModalDelete" centered size="xs" modal-class="myclass">
    <template #modal-header>
      EXCLUIR PALAVRA-CHAVE
    </template>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <span class="text-delete">Confirmar exclusão da palavra-chave ?</span>
    </div>

    <div class="divFooter">
      <button class="kw-btn-delete" style="margin-right: 5%;" @click="handleDelete">
        CONFIRMAR
      </button>
      <button class="kw-btn-delete d-invert" @click="openModalDelete=false">
        CANCELAR
      </button>
    </div>
  </b-modal>
</div>
