<div class="main-content">
    <b-container fluid class="main-container">
        <b-row>
            <b-col cols="6">
                <span class="main-title">
                    VER DETALHES DO PROJETO
                </span>
            </b-col>
            
            <b-col cols="6">
                <b-row align-h="end">
                    <b-col cols="2" v-if="disabled">
                        <b-button variant="outline-primary" class="m-2 button" v-on:click="toggleEnableForm()">
                            Editar
                        </b-button>
                    </b-col>
                    <b-col cols="2" v-if="!disabled">
                        <b-button variant="outline-primary" class="m-2 button">
                            Salvar
                        </b-button>
                    </b-col>
                    <b-col cols="2" v-if="!disabled">
                        <b-button variant="outline-primary" class="m-2 button" v-on:click="toggleEnableForm()">
                            Cancelar
                        </b-button>
                    </b-col>
                    <b-col cols="2">
                        <b-button variant="outline-primary" class="m-2 button">Excluir</b-button>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row class="my-2">
            <b-col cols="12">
                <span class="data-label">PROJETO:</span>
                <span class="data-content">{{ project.name }}</span>
            </b-col>
        </b-row>
        <b-row class="my-2">
            <b-col cols="4">
                <span class="data-label">AUTOR(A):</span>
                <span class="data-content">{{ user.fullName }}</span>
            </b-col>
            <b-col cols="4">
                <span class="data-label">TELEFONE:</span>
                <span class="data-content">{{ user.phoneNumber }}</span>
            </b-col>
            <b-col cols="4">
                <span class="data-label">E-MAIL:</span>
                <span class="data-content">{{ user.email }}</span>
            </b-col>
        </b-row>
        <b-row class="my-2">
            <b-col cols="4">
                <span class="data-label">STATUS:</span>
                <span class="data-content">{{ project.status }}</span>
            </b-col>
            <b-col cols="4">
                <span class="data-label">DISCIPLINA:</span>
                <span class="data-content">{{ subject.name }}</span>
            </b-col>
            <b-col cols="4">
                <span class="data-label">SEMESTRE:</span>
                <span class="data-content">N/A</span>
            </b-col>
        </b-row>
        <b-row class="my-2 mx-0">
            <b-col cols="12" class="form-container p-0">
                <b-row class="m-3">
                    <b-col cols="6">
                        <div role="group">
                            <label for="desafio" class="input-label">DESAFIO ENFRENTADO</label>
                            <b-form-textarea id="desafio" rows="6" v-model="project.problem" :disabled="disabled">
                            </b-form-textarea>
                        </div>
                        <div class="my-3" />
                        <div role="group">
                            <label for="desafio" class="input-label">RESULTADOS DESEJADOS</label>
                            <b-form-textarea id="resultados" rows="6" v-model="project.expectedResult"
                                :disabled="disabled">
                            </b-form-textarea>
                        </div>
                    </b-col>
                    <b-col cols="6">
                        <div role="group">
                            <label for="keyword-1" class="input-label">PALAVRAS-CHAVE</label>
                            <multiselect @change="handleChangeKeyWords" v-model="selectedKeywords" :options="keywords" :disabled="disabled" :multiple="true"
                                track-by="value" label="text" selectLabel="Clique para selecionar"
                                deselectLabel="Clique para remover" selectedLabel="Selecionada"
                                placeholder="Pesquise ou adicione uma palavra-chave" tagPosition="bottom"
                                class="keyword_select">
                                <span slot="noResult">Oops! Nenhuma palavra-chave encontrada.</span>
                                <span slot="noOptions">Oops! Nenhuma palavra-chave cadastrada.</span>
                            </multiselect>
                        </div>
                        <div class="my-3" />
                        <div role="group">
                            <label for="keyword-1" class="input-label">PALAVRA-CHAVE PRINCIPAL</label>
                            <b-form-select v-model="mainKeyword" :options="selectedKeywords" @change="handleChangeKeyWords" size="md" :disabled="disabled">
                            </b-form-select>
                        </div>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</div>