h2 {
  color: #021021CC;
  padding: 1vw 1vw 0vw 0vw;
  font-size:1.5vw;
  font-weight: bold;
}

p{
  color: #021021CC;
  font-size:1vw;
}

a{
  color: #2A768ECC;
}

img{
  width: 15vw;
  height: auto;
  border-radius: 8px;
}
