<div>
  <h2>{{info.name}}</h2>
  <b-row>
    <b-col cols="9">
      <p v-for="description in info.description">
        {{description}}  
      </p>
      <p>
        <a :href="info.website" target="_blank">{{info.website}}</a>
      </p>
    </b-col>
    <b-col cols="3">
      <img :src="info.logo" alt="Logo do Projeto">
    </b-col>
  </b-row>
  <h2>Escopo do Projeto</h2>
  <p v-for="scope in info.projectScope">{{scope}}</p>
  <h2>Principais resultados do projeto</h2>
  <p v-for="projectKeyResult in info.projectKeyResults">{{projectKeyResult}}</p>
</div>
