<section>
    <ul id="tabela-listagem-disciplina" class="tabela">
        <div v-if="loading" class="loading"></div>

        <li class="item-tabela" @click="alterarShowSelectDisciplina($event, disciplina)" v-for="disciplina in listaDisciplinas" :key="disciplina.subjectid">
            {{ disciplina.name }}
        </li>
    </ul>

    <div class="erro-lista-disciplina" v-if="error">Erro na busca das disciplinas da PUMA, Tente novamente mais tarde.</div>

    <ObjetoDisciplina v-if="!loading && !error" :idDisciplina="disciplinaAtual.subjectid"/>
</section>