.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  margin-left: 10%;
  margin-bottom: 2.5%;
  color: #15355e;
}

.forms {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
form {
  margin-bottom: 25px;
  margin-top: 32px;
  width: 409px;
  height: 200px;
  border: 5px dashed #15355e;
}

input[type="text"],
textarea{
  width: 85%;
  font-size: 14px;
  border:2px solid #15355e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 2.5%;
  padding: 15px;
}

.bubblesContainer {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

input[type="text"] {
  height: 6px;
}

textarea {
  font-family: rubik, Sans-serif;
  font-weight: 300;
}

form input{
  width: 100%;
  height: 100%;
  opacity: 0;
}

h3{
  font-size: 18px;
  margin: 15px 0 3px 0;
  position: relative;
  display: inline-block;
  font-weight: bold;
}
html{
  margin-bottom: 27px;
}

input[type="checkbox"] {
  margin: 0 4px 0 0;
}

input[type="file"] {
  border-radius: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.fuck {
  appearance: none;
  background-color: #F7DB36;
}

#categoryBubble {
  cursor: pointer;
  user-select: none;
  margin-left: -8px;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

div#checklist {
  display: inline-flex;
  padding-left: 13px;
  justify-content: space-between;
}

label{
  position: relative;
}

input#file {
  position: relative;
  z-index: 5;
  margin-bottom: 7px;
}

form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 39px;
  color: red;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  position: relative;
  top: -220px;
  font-size: 20px;
}

form label {
  position: relative;
  top: 7px;
}
#checklistArea {
  border: #15355e;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  margin: 10px 5px 15px 5px;
  display: -webkit-inline-box;
  position: relative;
  padding-left: 8px;
}

.btn{
  color: #15355E;;
  margin-left: 15%;
}

.submit-btn {
  margin:20;
}

.card {
  background-color: white;
  border: 2px solid #15355e;
  border-radius: 32px;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  margin-right: 20%;
}
.title-textarea {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: -20px;
  margin-top: 10%;
  margin-left: 2.5%;
}

.text-description {
  color:#15355e;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.035em;
  margin-top: 10px;
  margin-left: 2.5%;
  width: 85%;
}
.text-example {
  color:#15355e;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-top: 10px;
  margin-left: 2.5%;
  margin-bottom: 5%;
  width: 85%;
}
.title-slot {
  font-size: 24px;
  text-align: left;
  color: #15355E;
  letter-spacing: 00.035em;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: -10px;
}

.title-keywords{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 5%;
  margin-top: 10%;
}

.text-keywords{
  font-size: 1.1em;
  text-align: left;
  color: #EB0600;
}

.inputFieldRegisterProject:hover{
  border-radius: 7px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 70px;
  padding: 15px;
  border:2px solid #f7db36;
}

.error-span {
  display: flex;
  margin-top: 10px;
  text-align: left;
  flex-direction: column;
  margin-left: 2.5%;
  color: #EB0600;
}

.error-div {
  display: flex;
  flex-direction: column;
  width: 100%
}

.checkbox-label {
  display: inline-block;
}

.multiselect.invalid .multiselect__tags {
  border: 1px solid #f86c6b !important;
}

