.main-title {
    color: #15355E;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.form {
    margin: 5px;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    color: #15355E;
    align-items: center;
    background-color: #f7db36;
    border: 2px solid #f7db36;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    width: '196.7px';
    letter-spacing: 0.03em;
    text-transform: uppercase;
    height: 40px;
}

.cancel-btn {
    background-color: #ffffff;
}

.input-multiselect >>> .multiselect__option--highlight:after {
    background-color:  #15355E;
}

.input-multiselect >>> .multiselect__option--highlight {
    background-color:  #15355E;
}