<b-container class="page-bar">
    <b-row>
        <b-col>
            <div class="title ml-4">
                {{title}}
            </div>
            <div class="title subtitle ml-4">
                {{subtitle}}
            </div>
        </b-col>
        <b-col>
            <div class="title user ml-4">
                {{username}}
            </div>
            <div class="title subtitle user ml-4">
                {{usertype}}
            </div>
        </b-col>
    </b-row>
</b-container>
