<div class="mt-4 table-responsive">
    <table class="table table-borderless" summary="Tebela de Listagem dos Projetos">
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Criação</th>
            <th>Status</th>
            <th>Disciplina</th>
            <th></th>
        </tr>

        <tr v-for="project in listProjects" :key="project.projectid">
            <td>{{project.name}}</td>
            <td>{{project.fullname}}</td>
            <td>{{ formattedDate(project.createdat)}}</td>
            <td>{{ getDescricao(project.status)}}</td>
            <td>{{project.subject}}</td>

            <td class="botao">
                <button
                    class="btn cd-btn"
                    @click="goToProject(project.projectid)">
                    <em class="fa-solid fa-circle-info mr-2 ml-0"></em>Ver Detalhes
                </button>
            </td>
        </tr>

        <div v-if="!listProjects.length" class="no-results align-content-center mt-3">
            Sem Resultados Disponíveis
        </div>
    </table>
</div>