body {
    background-color: #15355e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}
.container-top {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.card {
    background-color: #ffffff;
    padding: 1px;
    border: 2px solid #15355e;
    border-radius: 0px 0px 16px 16px;
    box-sizing: boder-box;
    /* transition: all 0.3s ease-out; */
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;*/
}
.title-box {
    font-size: 32px;
    height: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #15355e;
    color: #ffffff;
    text-align: center;
}
.title-slot {
    font-size: 24px;
    text-align: left;
    color: #15355E;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: -20px;
    letter-spacing: 00.035em;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
#register-form {
    display: flex;
    flex-direction: column;
}

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

label {
    font-weight: bold;
    margin-bottom: 15px;
    color: #222;
    padding: 5px 10px;
    border-left: 4px solid #0060df;
}

.loading {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.submit-btn:hover {
    background-color: transparent;
    color: #f5871f;
}

a {
    color: #15355e;
    text-decoration: none; /* no underline */
}

.clickable-text-left {
    font-size: 1.1em;
    margin-top: 20px;
    margin-left: 70px;
    text-align: left;
}

.clickable-text-center {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
}
.error-span {
    display: flex;
    margin-top: 10px;
    text-align: left;
    flex-direction: column;
    margin-left: 75px;
    color: #EB0600;
}
.error-div {
    display: flex;
    flex-direction: column;
    width: 100%
}

.invalid {
    border: 1px solid #EB0600;
}
.error{
    display: flex;
    margin-top: 10px;
    text-align: left;
    flex-direction: column;
    color: #EB0600;
}